web-slide-title {
  font-family: 'Roboto Condensed', sans-serif;
}

web-slide-title h2 {
  margin: 0;
}

web-slide-title::shadow div#content,
web-slide::shadow div#content {
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  padding: 20px;
}
