@import "keyframes";

web-slide, web-slide-title {
  &[data-transition="moveFromTop"] {
    &.forward-out {
      -webkit-animation: moveToBottom .7s ease-in-out both;
      animation: moveToBottom .7s ease-in-out both;
    }
    & +.forward-in {
      -webkit-animation: moveFromTop .7s ease-in-out both;
      animation: moveFromTop .7s ease-in-out both;
    }
  }
}
